/* Whole document: */
body{
	  font-family: Georgia;
  	  font-size: 14pt;
      height: 55px;
      line-height: 25px;
      font-weight: 400;
      color: black;
}
/* Headers */
h1 {
      height: 55px;
      line-height: 25px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
}

h2{
      height: 55px;
      line-height: 55px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
}
h3{
      height: 55px;
      line-height: 55px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
}
h4{
      height: 55px;
      line-height: 55px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
}