/* Base16 Atelier Sulphurpool Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Sulphurpool Comment */
.hljs-comment {
  color: #898ea4;
}

/* Atelier-Sulphurpool Red */
.hljs-variable,
.hljs-template-variable,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-deletion,
.hljs-meta-keyword,
.hljs-link,
.hljs-selector-id,
.hljs-quote,
.hljs-code,
.hljs-selector-class {
  color: #E6E6E5;
}

/* Atelier-Sulphurpool Orange */
.hljs-number {
  color: #B9B946;
}

.hljs-subst,
.hljs-doctag,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #E6E6E5;
}

/* Atelier-Sulphurpool Green */
.hljs-string,
.hljs-addition,
.hljs-symbol,
.hljs-strong,
.hljs-emphasis,
.hljs-function,
.hljs-bullet {
  color: #E6E6E5;
}

/* Atelier-Sulphurpool Blue */
.hljs-title,
.hljs-section {
  color: #E6E6E5;
}

/* Atelier-Sulphurpool Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #E6E6E5;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #202746;
  color: #E6E6E5;
  padding: 0.5em;
}

